.fade-in {
  opacity: 0;
  transform: translateY(20px); // pomeraj dolje
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
