@use '../apstraktno/varijable' as var;

nav {
  display: flex;
  justify-content: center;
  background-color: var.$navboja;
  padding: 1em 2em;

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 1em;

      a {
        color: var.$bela;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: white; // lagani highlight pri hover-u
        }
      }
    }
  }

  /* Mobilna navigacija */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    ul {
      flex-direction: column;

      li {
        margin: 0.5em 0;
      }
    }
  }
}
